/*header	*/
#firstPage{
	background-color: #22B573;/*#22B573  #34BF49*/
	height: 700px;
	text-align: center;
		
}
#firstPage h1{
	color: #fff;
	padding-top: 250px;
	font-size: 35px;
	letter-spacing: 8px;
}
#firstPage h3{
	color: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
	font-weight: 2px;
}

/*intro*/
.introCont{
	text-align: center;
}